In [55]:
#Import libraries
import numpy as np
import tensorflow as tf
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler 
import matplotlib.pyplot as plt

%matplotlib inline

In [56]:
#conda install -c conda-forge tensorflow

In [57]:
#Read the dataset 
df = pd.read_csv('C:\\Users\\prati\\American Express AI CHALLENGE\\Data\\df_train_callvolume (1).csv', index_col='INTERVAL')
df.index = pd.to_datetime(df.index)
df.head(3)

,Account,AccountClose,AccountOnline,Account_Issue,ApplicationStatus,BillingQuery,CardDeclined,Card_Compromise,ChargeReview,Complaint,DataBreach,Entertainment,FraudQuery,Online_Login,PaymentExecute,Payments,Representative,Rewards,Statement,Travel
INTERVAL,,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,5,27,8,2,3,17,15,0,37,0,0,0,21,13,97,22,165,19,1,19
2018-01-01 00:15:00,2,15,5,1,0,8,18,2,30,1,0,0,25,2,93,19,138,23,5,20
2018-01-01 00:30:00,2,20,7,0,1,4,16,1,28,1,0,0,13,9,87,22,166,14,2,27

In [58]:
df

,Account,AccountClose,AccountOnline,Account_Issue,ApplicationStatus,BillingQuery,CardDeclined,Card_Compromise,ChargeReview,Complaint,DataBreach,Entertainment,FraudQuery,Online_Login,PaymentExecute,Payments,Representative,Rewards,Statement,Travel
INTERVAL,,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,5,27,8,2,3,17,15,0,37,0,0,0,21,13,97,22,165,19,1,19
2018-01-01 00:15:00,2,15,5,1,0,8,18,2,30,1,0,0,25,2,93,19,138,23,5,20
2018-01-01 00:30:00,2,20,7,0,1,4,16,1,28,1,0,0,13,9,87,22,166,14,2,27
2018-01-01 00:45:00,1,22,3,0,2,10,13,0,31,0,0,0,20,7,79,26,155,12,2,33
2018-01-01 01:00:00,1,18,4,0,1,6,17,2,26,0,0,0,25,4,94,14,136,16,2,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31 22:45:00,3,77,21,0,3,48,36,0,60,0,0,0,56,27,200,37,421,57,9,56
2018-12-31 23:00:00,3,59,17,2,2,38,24,1,62,0,0,0,46,14,215,47,361,33,9,60
2018-12-31 23:15:00,9,64,12,0,1,37,29,0,67,0,0,0,58,23,178,26,353,35,8,37
2018-12-31 23:30:00,2,55,13,2,1,27,24,2,39,1,1,1,43,14,178,46,314,33,8,48
2018-12-31 23:45:00,8,59,5,2,1,25,24,0,45,0,0,0,43,17,161,37,326,31,5,40

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35040 entries, 2018-01-01 00:00:00 to 2018-12-31 23:45:00
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Account            35040 non-null  int64
 1   AccountClose       35040 non-null  int64
 2   AccountOnline      35040 non-null  int64
 3   Account_Issue      35040 non-null  int64
 4   ApplicationStatus  35040 non-null  int64
 5   BillingQuery       35040 non-null  int64
 6   CardDeclined       35040 non-null  int64
 7   Card_Compromise    35040 non-null  int64
 8   ChargeReview       35040 non-null  int64
 9   Complaint          35040 non-null  int64
 10  DataBreach         35040 non-null  int64
 11  Entertainment      35040 non-null  int64
 12  FraudQuery         35040 non-null  int64
 13  Online_Login       35040 non-null  int64
 14  PaymentExecute     35040 non-null  int64
 15  Payments           35040 non-null  int64
 16  Representative     35040 non-null  int64
 17  Rewards            35040 non-null  int64
 18  Statement          35040 non-null  int64
 19  Travel             35040 non-null  int64
dtypes: int64(20)
memory usage: 5.6 MB

In [60]:
df.describe()

,Account,AccountClose,AccountOnline,Account_Issue,ApplicationStatus,BillingQuery,CardDeclined,Card_Compromise,ChargeReview,Complaint,DataBreach,Entertainment,FraudQuery,Online_Login,PaymentExecute,Payments,Representative,Rewards,Statement,Travel
count,35040.000000,35040.000000,35040.000000,35040.000000,35040.000000,35040.000000,35040.000000,35040.000000,35040.00000,35040.000000,35040.000000,35040.000000,35040.000000,35040.000000,35040.000000,35040.000000,35040.000000,35040.000000,35040.000000,35040.000000
mean,6.097146,39.103025,12.804224,1.424344,1.232420,33.667409,19.947631,0.554138,45.34766,0.721975,0.269977,2.374001,33.704966,16.763613,147.588385,44.277854,269.525856,34.144606,9.841267,52.050457
std,5.650947,35.318477,11.092307,1.679264,1.577974,33.081867,16.560494,1.129141,33.80266,1.056219,1.285719,4.570992,25.663436,13.386443,106.237862,34.158300,216.291625,30.082482,9.216173,41.249002
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,7.000000,3.000000,0.000000,0.000000,5.000000,5.000000,0.000000,13.00000,0.000000,0.000000,0.000000,9.000000,4.000000,45.000000,13.000000,61.000000,5.000000,2.000000,12.000000
50%,4.000000,29.000000,10.000000,1.000000,1.000000,23.000000,17.000000,0.000000,40.00000,0.000000,0.000000,1.000000,31.000000,15.000000,136.000000,37.000000,226.000000,27.000000,7.000000,47.000000
75%,10.000000,67.000000,21.000000,2.000000,2.000000,57.000000,32.000000,1.000000,73.00000,1.000000,0.000000,3.000000,54.000000,27.000000,233.000000,71.000000,456.000000,59.000000,16.000000,85.000000
max,33.000000,185.000000,190.000000,13.000000,14.000000,202.000000,469.000000,47.000000,157.00000,9.000000,71.000000,217.000000,222.000000,168.000000,651.000000,187.000000,1044.000000,145.000000,50.000000,185.000000

In [61]:
df.isnull().sum()

Account              0
AccountClose         0
AccountOnline        0
Account_Issue        0
ApplicationStatus    0
BillingQuery         0
CardDeclined         0
Card_Compromise      0
ChargeReview         0
Complaint            0
DataBreach           0
Entertainment        0
FraudQuery           0
Online_Login         0
PaymentExecute       0
Payments             0
Representative       0
Rewards              0
Statement            0
Travel               0
dtype: int64

In [62]:
df.head(2)

,Account,AccountClose,AccountOnline,Account_Issue,ApplicationStatus,BillingQuery,CardDeclined,Card_Compromise,ChargeReview,Complaint,DataBreach,Entertainment,FraudQuery,Online_Login,PaymentExecute,Payments,Representative,Rewards,Statement,Travel
INTERVAL,,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,5,27,8,2,3,17,15,0,37,0,0,0,21,13,97,22,165,19,1,19
2018-01-01 00:15:00,2,15,5,1,0,8,18,2,30,1,0,0,25,2,93,19,138,23,5,20

In [63]:
# Step 3: Create a min max scaler 
scaler = MinMaxScaler()
# We have 35,040 rows
Train = df.head(20)
Test = df.tail(35020)

Train_Scalar = scalar.fit_transform(Train)
Test_Scalar = scalar.fit_transform(Test)

NameError: name 'scaler' is not defined

In [64]:
Train

NameError: name 'Train' is not defined

In [65]:
Test

NameError: name 'Test' is not defined

In [66]:
# Create a batch function
def next_batch(training_data, batch_size, steps):
    rand_start = np.random.randint(0, len(training_data)- steps)
    #Create Y data for time series in the batches 
    y_batch = np.array(training_data[rand_start:rand_start+steps+1]).reshape(1,steps+1)
    
    x_batch = y_batch[:, :-1].reshape(-1, steps, 1)    # Date  Shape Batch Timestep inputdim
    y_batch = y_batch[:, 1:].reshape(-1, steps, 1)     # Price STock
    return x_batch , y_batch

In [1]:
#Create a RNN Model
num_inputs = 1
num_time_steps = 12
num_neurons = 100
num_outputs = 1
learning_rate = 0.01 
num_train_iterations = 4000
batch_size = 1

X = tf.placeholder(tf.float32, [None, num_time_steps, num_inputs])
y = tf.placeholder(tf.float32, [None, num_time_steps, num_outputs])


# Also play around with GRUCell
cell = tf.contrib.rnn.OutputProjectionWrapper(
    tf.contrib.rnn.GRUCell(num_units=num_neurons, activation=tf.nn.relu),
    output_size=num_outputs)

output, state = tf.nn.dynamic_rnn(cell, X, dtype=tf.float32)

loss = tf.reduce_mean(tf.square(output - y)) # MSE
optimizer = tf.train.AdamOptimizer(learning_rate=learning_rate)
train = optimizer.minimize(loss)
init = tf.global_variables_initializer()

saver = tf.train.Saver()


with tf.Session() as sess:
    sess.run(init)
    
    for iteration in range(num_train_iterations):
        
        X_batch, y_batch = next_batch(Train_Scalar, batch_size,num_time_steps)
        sess.run(train, feed_dict={X: X_batch, y: y_batch})
        
        if iteration % 100 == 0:
            
            mse = loss.eval(feed_dict={X: X_batch, y: y_batch})
            print(iteration, "\tMSE:", mse)
        saver.save(sess, "./ex_time_series")

NameError: name 'tf' is not defined

In [68]:
# Predict
Test

NameError: name 'Test' is not defined

In [69]:
with tf.Session() as sess:
    saver.restore(sess, "./ex_time_series_soumil")
    train_seed = list(Train_Scalar[-12:])

    for iteration in range(12):
        X_batch = np.array(train_seed[-num_time_steps:]).reshape(1, num_time_steps, 1)
        y_pred = sess.run(output, feed_dict={X: X_batch})
        train_seed.append(y_pred[0, -1, 0])

AttributeError: module 'tensorflow' has no attribute 'Session'

In [70]:
results = scalar.inverse_transform(np.array(train_seed[12:]).reshape(12,1))

NameError: name 'scalar' is not defined

In [71]:
len(results)

NameError: name 'results' is not defined

In [72]:
results

NameError: name 'results' is not defined

In [73]:
Test["Predicted"]  = results

NameError: name 'results' is not defined

In [74]:
Test

NameError: name 'Test' is not defined

In [75]:
Test.plot()

NameError: name 'Test' is not defined